<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static/CSS/flash-styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>View Users</h1>
        <a href="{{ url_for('admin_dashboard') }}" class="navigation-link">Back to Dashboard</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
                <th>Registration Date</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.registration_date | format_registration_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='static/JS/flash-disappear.js') }}"></script>
</body>
</html>
